.mainContainer {
    max-width: 80ch;
    margin: 0 auto;
    padding: 0 20px 30px 20px;
    line-height: 1.5;

    p, ol, ul {
        margin: 0;
    }

    p + p, p + div {
        margin-top: 1rem;
    }

    div + p { 
        margin-top: 1rem;
    }

    ul + p, ol + p {
        margin-top: 1rem;
    }

    h2 {
        font-size: 1.6rem;
        border-bottom: 2px solid #666;
    }

    h1, h2, h3, h4, h5 {
        code {
            font-weight: 500;
        }
    }

    h3 {
        color: rgb(0, 43, 117);
        font-size: 1.4rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    h4 {
        color: rgb(94, 121, 154);
        font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    h5 {
        font-size: 1rem;
        font-style: italic;
        color:rgb(48, 48, 48);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

li {
    margin-top: 0.125em;
    margin-bottom: 0.125em;
}

.footnotes {
    border-top: 2px solid #666;
    margin-top: 2rem;

    h3 {
        margin-bottom: 0;
    }
    
    p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    sup {
        font-size: 0.9rem;
    }
}

.footnoteItem {
    color: rgb(0, 105, 234);
}