.box {
    border: 2px solid blue;
    border-top: none;
    padding: 0.5em 1em;
}

.title {
    background-color: blue;
    color: white;
    padding: 0.25rem 0.5rem 0.25rem;
    border: 2px solid blue;
}